/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'SensationsAndQualities';
    src: url('../fonts/SensationsAndQualities.ttf');
}
/****************************/
body {
	position: relative;
	background: #c1c1c1 url("../img/pink.png") repeat;
	margin: 0;
}
#loader {
	display: block;
	width: 200px;
	position: absolute;
	top: 50%;
	margin: 0 auto;
	text-align: center;
	left: 48%; right: 49%;
}
#container {
	min-height: 100%;
	margin: 0 auto;
}
.container {
  display: block;
	width: 800px;
	min-height: 100%;
	margin-bottom: 200px;
	margin: 0 auto;
}
header {
  height: 200px;
  padding: 20px 0;
  background: #fff url("../img/circles.png") repeat;
}
h1 {
  font-size: 3em;
  color: #ff9900;
  text-align: center;
}
header div {
  text-decoration: none;
  color: #000;
  text-align: center;
  margin: 0 auto;
}
header div button {
  padding: 10px;
  margin: 10px 20px 0;
}
a:visited,a:link,a:hover,a:active{
  color: #000;
  text-decoration: none;
}
.form {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.poll {
  margin: 0 auto;
}
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}