<!DOCTYPE html>

<html>

	<head>
		<title>FCC Voting App</title>
		
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/public/css/materialize.min.css" rel="stylesheet" type="text/css">
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	    <style>
	    	.login {
	    		display: block;
	    		margin: 0 auto;
	    		text-align: center;
	    		margin-top: 20%;
	    	}
	    	.login div {
	    		padding: 20px;
	    	}
	    	h1 {
	    		font-size: 3em;
				color: #ff9900;
				margin-top: 20%;
	    	}
	    </style>
	</head>

	<body>
		<div class="container">
			<h1>FCC VOTING APP</h1>	
			<div class="login">
				<div style="display: inline-block;">
					<a href="/auth/github">
						<button class="btn">LOGIN WITH GITHUB</button>
					</a>
				</div>
				
				<div style="margin-top: 20px; display: inline-block;">
					<a href="/auth/google">
						<button class="btn">Sign In with Google</button>
					</a>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../controllers/app.js"></script>
		<script type="text/javascript" src="/public/js/materialize.min.js"></script>
	</body>

</html>